.LoginAjutor {
  background-image: url('https://img.freepik.com/premium-vector/gray-silver-wave-abstract-background_29865-1260.jpg?w=360');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 260px;
}
